 form{
    width:450px;
    height:500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:25px;
    padding: 10px;
}
.heading{
    color:rgba(228, 10, 10, 0.938);
    font-family: cursive;
    font-size: 30px;
    font-style: italic;
 
}
.signIn{
   font-family: 'National2-Medium';
   margin-top: 10px;

}
.para{
    width:100%;
    font-weight: 900;
    font-size: 15px;
}
.para span{
    text-align: center;
}
input[type="tel"]
{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-top: 25px;
}
.link{
    font-size: 12px;
    width: 100%;
}
.codeBtn{
    width:50%;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 15px;
}
.skipBtn{
     width: 100%;
     padding: 10px;
     border-radius: 20px;
     border: 1px solid black;
     background-color: transparent;
     cursor: pointer;
}
.break i{
    width: 90%;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(178, 190, 181);
    z-index: -1;
    margin-top: 10px;
}
.orClass {
    margin-top: -15px;
    z-index: 1;
    width:50px;
    text-align: center;
    background-color: white;
}
.or{
    margin-top: 10px;
} 
.star{
    position: absolute;
    top:42%;
    left:25%;
}
label{
    display: block;
    position: absolute;
    top:42%;
    left:2%;
    transition: 0.3s ease;
}
